#rentalAgreementBinding {
  color: gray;
}
#rentalAgreementBinding .requiredField-asterik {
  color: red;
}
#rentalAgreementBinding .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#rentalAgreementBinding .margin-button {
  margin-left: 10px;
  margin-right: 0;
}
#rentalAgreementBinding html[dir="rtl"] .margin-button {
  margin-right: 10px;
  margin-left: 0;
}
#rentalAgreementBinding .display-block {
  display: inline-block;
}
#rentalAgreementBinding .font-em-1-3 {
  font-size: 1.7em;
}
#rentalAgreementBinding .popover {
  min-width: 33%;
  min-height: 200px;
  margin-top: 20px;
}
#rentalAgreementBinding .well {
  padding-top: 0;
}
#rentalAgreementBinding .form-control {
  padding: 2px;
  height: 25px;
}
#rentalAgreementBinding .control-label {
  padding-top: 3px;
}
#rentalAgreementBinding .form-group {
  margin-bottom: 5px;
}
#rentalAgreementBinding .form-group input,
#rentalAgreementBinding .form-group select,
#rentalAgreementBinding .form-group textarea {
  max-width: 100%;
}
#rentalAgreementBinding .form-group .col-xs-1,
#rentalAgreementBinding .form-group .col-xs-2,
#rentalAgreementBinding .form-group .col-xs-3,
#rentalAgreementBinding .form-group .col-xs-4,
#rentalAgreementBinding .form-group .col-xs-5,
#rentalAgreementBinding .form-group .col-xs-6,
#rentalAgreementBinding .form-group .col-xs-7,
#rentalAgreementBinding .form-group .col-xs-8,
#rentalAgreementBinding .form-group .col-xs-9,
#rentalAgreementBinding .form-group .col-xs-10,
#rentalAgreementBinding .form-group .col-xs-11,
#rentalAgreementBinding .form-group .col-xs-12,
#rentalAgreementBinding .form-group .col-sm-1,
#rentalAgreementBinding .form-group .col-sm-2,
#rentalAgreementBinding .form-group .col-sm-3,
#rentalAgreementBinding .form-group .col-sm-4,
#rentalAgreementBinding .form-group .col-sm-5,
#rentalAgreementBinding .form-group .col-sm-6,
#rentalAgreementBinding .form-group .col-sm-7,
#rentalAgreementBinding .form-group .col-sm-8,
#rentalAgreementBinding .form-group .col-sm-9,
#rentalAgreementBinding .form-group .col-sm-10,
#rentalAgreementBinding .form-group .col-sm-11,
#rentalAgreementBinding .form-group .col-sm-12,
#rentalAgreementBinding .form-group .col-md-1,
#rentalAgreementBinding .form-group .col-md-2,
#rentalAgreementBinding .form-group .col-md-3,
#rentalAgreementBinding .form-group .col-md-4,
#rentalAgreementBinding .form-group .col-md-5,
#rentalAgreementBinding .form-group .col-md-6,
#rentalAgreementBinding .form-group .col-md-7,
#rentalAgreementBinding .form-group .col-md-8,
#rentalAgreementBinding .form-group .col-md-9,
#rentalAgreementBinding .form-group .col-md-10,
#rentalAgreementBinding .form-group .col-md-11,
#rentalAgreementBinding .form-group .col-md-12,
#rentalAgreementBinding .form-group .col-lg-1,
#rentalAgreementBinding .form-group .col-lg-2,
#rentalAgreementBinding .form-group .col-lg-3,
#rentalAgreementBinding .form-group .col-lg-4,
#rentalAgreementBinding .form-group .col-lg-5,
#rentalAgreementBinding .form-group .col-lg-6,
#rentalAgreementBinding .form-group .col-lg-7,
#rentalAgreementBinding .form-group .col-lg-8,
#rentalAgreementBinding .form-group .col-lg-9,
#rentalAgreementBinding .form-group .col-lg-10,
#rentalAgreementBinding .form-group .col-lg-11,
#rentalAgreementBinding .form-group .col-lg-12 {
  padding-right: 0;
  padding-left: 8px;
}
#rentalAgreementBinding .form-group label {
  font-weight: normal;
  text-align: left;
}
#rentalAgreementBinding .form-group .checkBoxCol {
  width: 4.5%;
}
#rentalAgreementBinding .form-group .checkBoxCol input[type="checkbox"] {
  height: 15px;
  margin-top: 6px;
}
#rentalAgreementBinding #raPanels {
  width: 28.9%;
  float: left;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceType {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceItemName {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceItemCode {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #Quantity {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #StartDate {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #StartTime {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #EndDate {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #EndTime {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #DeleteServiceItem {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels .panel-body {
  padding: 8px;
}
#rentalAgreementBinding #raPanels .panel-body .panelCustom {
  -moz-border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  border-radius: 12px !important;
}
#rentalAgreementBinding #raPanels .panel-body .panelCustom .panel-heading {
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}
#rentalAgreementBinding #raPanels .panel-body .panelCustom .clearBoth {
  clear: both;
}
#rentalAgreementBinding #raPanels .formGroupCustom {
  margin-right: 0;
  margin-left: 0;
}
#rentalAgreementBinding #raPanels .formGroupCustom hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
#rentalAgreementBinding .panel-heading {
  color: gray;
}
#rentalAgreementBinding .panel-group .panel {
  overflow: visible;
}
#rentalAgreementBinding .panel-default .panel-collapse .panel-body:not(.customPanel) {
  overflow-x: auto;
}
#rentalAgreementBinding a.headingLink :hover {
  text-decoration: underline;
}
#rentalAgreementBinding a.glyphicon {
  text-decoration: none;
}
#rentalAgreementBinding #customer {
  height: 237px;
}
#rentalAgreementBinding #customer #isIndividualLabel {
  width: 18%;
  margin-left: 11px;
}
#rentalAgreementBinding #customer label.col-sm-2 {
  width: 20%;
}
#rentalAgreementBinding #customer #customerSearchBtn {
  cursor: pointer;
}
#rentalAgreementBinding #customer .searchableFiled {
  border: 1px solid blue;
}
#rentalAgreementBinding .twitter-typeahead {
  width: 100% !important;
}
#rentalAgreementBinding #raMain {
  width: 49.5%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
  /*#accordion3 {
            margin-top: 5px;
        }*/
}
#rentalAgreementBinding #raMain #accordion5 #collapseEight,
#rentalAgreementBinding #raMain #accordion5 #collapseNine {
  min-height: 211px;
}
#rentalAgreementBinding #raMain #collapseSeven .panel-body {
  padding: 8px;
}
#rentalAgreementBinding #raMain #collapseSeven .panel-body .panelCustom {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
}
#rentalAgreementBinding #raMain #collapseSeven .panel-body .panelCustom .panel-heading {
  -moz-border-radius: 5px 5px 0 0 !important;
  -webkit-border-radius: 5px 5px 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
}
#rentalAgreementBinding #raMain #collapseSeven .panel-body .panelCustom .clearBoth {
  clear: both;
}
#rentalAgreementBinding #raMain #collapseSeven .formGroupCustom {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  /*border-radius: 10px !important;
                background-color: silver;*/
}
#rentalAgreementBinding #raMain #collapseSeven .formGroupCustom hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
#rentalAgreementBinding #raMain #vehicle {
  margin-top: .5%;
  min-height: 505px;
}
#rentalAgreementBinding #raMain #vehicle a {
  cursor: pointer;
}
#rentalAgreementBinding #raMain #vehicle h3 {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}
#rentalAgreementBinding #raMain #vehicle .col-sm-2 {
  /*float: right;*/
  width: 20%;
  line-height: 25px;
  margin-left: 5px;
}
#rentalAgreementBinding #raMain #vehicle #vehicleMovementTemplate_popoverContent {
  width: 500px;
}
#rentalAgreementBinding #raMain #vehicleImage {
  max-width: 200px;
  max-height: 150px;
  vertical-align: super;
}
#rentalAgreementBinding #raMain .vehicleReturnedDateLabel {
  margin-top: -20px;
  font-weight: bold;
  color: darkred;
}
#rentalAgreementBinding #raMain #accordion311 #billingRefreshLink {
  cursor: pointer;
}
#rentalAgreementBinding #raMain #collapseEleven11 .panel-body {
  padding-bottom: 4px;
}
#rentalAgreementBinding #raMain #collapseEleven11 .servicesLabel {
  font-size: 14px;
  color: blue;
}
#rentalAgreementBinding #raMain #collapseEleven11 .chargesSubLabel {
  font-size: 14px;
  margin-right: 5px;
  padding-top: 3px;
}
#rentalAgreementBinding #raMain #collapseEleven11 .billTotalLabel {
  color: blue;
  font-weight: bold;
}
#rentalAgreementBinding #raMain #collapseEleven11 .vehicleTariffLabel {
  font-size: 14px;
  color: green;
}
#rentalAgreementBinding #raMain #collapseEleven11 .vehicleBillSectionLabel {
  font-size: 14px;
  margin-right: 5px;
  padding-top: 3px;
  color: green;
}
#rentalAgreementBinding #raMain #collapseEleven11 #billingDropoffContainer {
  padding-left: 0;
  float: right;
}
#rentalAgreementBinding #raMain #collapseEleven11 #billingDropoffTextbox {
  border: 2px solid;
}
#rentalAgreementBinding #raMain #collapseEleven11 .billingTotalChargesLabel {
  font-weight: bold;
  padding-top: 3px;
}
#rentalAgreementBinding #raMain #collapseEleven11 hr {
  margin: 10px;
}
#rentalAgreementBinding #raBilling {
  width: 49.5%;
  float: left;
}
#rentalAgreementBinding #raBilling #accordion2 {
  margin-top: 5px;
}
#rentalAgreementBinding #raBilling #ra {
  min-height: 175px;
}
#rentalAgreementBinding #raBilling #ra label.col-sm-2 {
  width: 16.5%;
}
#rentalAgreementBinding #raBilling #ra label.notFirstColumn {
  margin-left: 11px;
}
#rentalAgreementBinding #raBilling #ra #rentalPaymentTermLabel {
  width: 14%;
}
@media (min-width: 992px) {
  #rentalAgreementBinding #raBilling #ra .dateTimeControl {
    width: 39%;
  }
  #rentalAgreementBinding #raBilling #ra #bookingNumberControl {
    /*width: 43.2%;*/
  }
  #rentalAgreementBinding #raBilling #ra #rentalPaymentTermControl {
    width: 29%;
    padding-left: 0;
  }
  #rentalAgreementBinding #raBilling #ra #returnLocationControl {
    width: 36.4%;
  }
  #rentalAgreementBinding #raBilling #ra .rentalHireGroupControl {
    width: 67%;
  }
  #rentalAgreementBinding #raBilling #ra .btn-line-height {
    line-height: 1;
  }
}
@media (min-width: 768px) {
  #rentalAgreementBinding #raBilling #ra .input-small {
    width: 26.15%;
  }
}
#rentalAgreementBinding #raBilling #ra #rentalAgreementHireGroup,
#rentalAgreementBinding #raBilling #ra #rentalAgreementHireGroupCopy {
  width: 100%;
}
#rentalAgreementBinding #billing {
  margin-top: .5%;
  min-height: 105px;
}
#rentalAgreementBinding #billing .Bold {
  font-weight: bold;
}
#rentalAgreementBinding #billing div.form-group {
  margin-right: 0;
  margin-left: 0;
}
#rentalAgreementBinding #billing div.form-group div {
  border-bottom: 1px solid black;
}
#rentalAgreementBinding .popoverContents {
  min-height: 150px;
  position: relative;
  max-height: 500px;
  overflow: auto;
}
#rentalAgreementBinding .popoverContents .no-record-found {
  position: absolute;
  height: 75px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#rentalAgreementBinding .popoverContents .clearBoth {
  clear: both;
}
#rentalAgreementBinding .popoverContents hr {
  margin: 10px 0 !important;
}
#rentalAgreementBinding .popoverContents .formGroupCustom {
  margin-right: 0;
  margin-left: 0;
}
#rentalAgreementBinding .popoverContents .popover-panel {
  border: 1px solid #dddddd;
  -moz-border-radius: 5px 5px 5px 5px !important;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  border-radius: 5px 5px 5px 5px !important;
}
#rentalAgreementBinding .popoverContents .popover-panel .popover-panel-heading {
  padding-left: 5px;
  background-color: #dddddd;
  height: 25px;
  padding-top: 5px;
  font-size: 10pt;
  font-weight: bold;
  color: white;
}
#rentalAgreementBinding .popoverContents .popover-panel .popover-panel-heading .margin-right {
  margin-right: 5px;
}
#rentalAgreementBinding .popoverContents .popover-panel .popover-panel-heading .heading-text {
  margin-left: 5px;
}
#rentalAgreementBinding .popoverContents .popover-panel .popover-panel-heading a {
  cursor: pointer;
}
#rentalAgreementBinding #driverPopoverContents .popover-panel {
  border-color: #89c4f4;
}
#rentalAgreementBinding #driverPopoverContents .popover-panel .popover-panel-heading {
  background-color: #89c4f4;
}
#rentalAgreementBinding #driverPopoverContents .popover-panel .popover-panel-heading a {
  margin-right: 5px;
  margin-top: -2px;
}
#rentalAgreementBinding #chaufferPopoverContents .popover-panel {
  border-color: #f0ad4e;
}
#rentalAgreementBinding #chaufferPopoverContents .popover-panel .popover-panel-heading {
  background-color: #f0ad4e;
}
#rentalAgreementBinding #chaufferPopoverContents .popover-panel .popover-panel-heading a {
  margin-right: 5px;
  margin-top: -2px;
}
#rentalAgreementBinding .popoverDateTimeColumn {
  padding-left: 0 !important;
}
#rentalAgreementBinding .popoverDateTimeColumn .timePart {
  padding-left: 2px;
}
#rentalAgreementBinding #discountPopoverContents .popover-panel {
  border-color: #45b6af;
}
#rentalAgreementBinding #discountPopoverContents .popover-panel .popover-panel-heading {
  background-color: #45b6af;
}
#rentalAgreementBinding #damagePopoverContents .popover-panel {
  border-color: #f3565d;
}
#rentalAgreementBinding #damagePopoverContents .popover-panel .popover-panel-heading {
  background-color: #f3565d;
}
#rentalAgreementBinding #damagePopoverContents .popover-panel .popover-panel-heading a {
  margin-right: 5px;
  margin-top: -2px;
}
#rentalAgreementBinding #damagePopoverContents .popover-panel #damageQtyControl {
  width: 93%;
}
#rentalAgreementBinding #paymentPopoverContents .popover-panel {
  border-color: #6b6f59;
}
#rentalAgreementBinding #paymentPopoverContents .popover-panel .popover-panel-heading {
  background-color: #6b6f59;
}
#rentalAgreementBinding #paymentPopoverContents .popover-panel .popover-panel-heading a {
  margin-right: 5px;
  margin-top: -2px;
}
#rentalAgreementBinding #hireGroupDialog .modal-header h2 {
  line-height: 0.8em;
}
#rentalAgreementBinding #hireGroupDialog .modal-header h2 .smallHeading {
  font-size: 11px;
}
#rentalAgreementBinding #hireGroupDialog .modal-body #hireGroupDialogGridContainer {
  margin-bottom: 0;
}
#rentalAgreementBinding #hireGroupDialog .modal-body table td.parentRow {
  font-weight: bold;
  color: blue;
  font-size: 16px;
}
#rentalAgreementBinding #hireGroupDialog .modal-body table td.parentRow .secondaryInfo {
  font-size: 11px;
}
#rentalAgreementBinding #hireGroupDialog .modal-body table .parentRowDropoffCharge {
  color: red;
  font-weight: bold;
  font-size: 16px;
}
#rentalAgreementBinding #bpDocTable {
  margin-left: 0 !important;
}
#raQueueBinding .txtBox {
  width: 108px;
}
#raQueueBinding .searchControlPadding {
  padding: 0;
  padding-left: 0;
  padding-right: 2px;
}
#raQueueBinding .searchDropdown {
  min-width: 150px;
}
#vehicleDialog img,
#hireGroupVehiclesTable img {
  height: 30px;
  width: 45px;
  -moz-transition: -moz-transform 0.5s ease-in;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  transition: -moz-transform 0.5s ease-in;
}
#vehicleDialog img:hover,
#hireGroupVehiclesTable img:hover {
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}
.RAdocumentButton {
  line-height: 1;
}
#vehicleDialog .btn-search,
#chaufferDialog .btn-search,
#searchCustomerDialog .btn-search,
#customerDocumentsDialog .btn-search {
  line-height: 0.8 !important;
}
#vehicleDialog .header-toolsSection,
#chaufferDialog .header-toolsSection,
#searchCustomerDialog .header-toolsSection,
#customerDocumentsDialog .header-toolsSection {
  margin-top: 0;
  float: right;
}
#vehicleDialog #chaufferDialogFilterSection,
#chaufferDialog #chaufferDialogFilterSection,
#searchCustomerDialog #chaufferDialogFilterSection,
#customerDocumentsDialog #chaufferDialogFilterSection {
  padding-bottom: 5px;
}
#vehicleDialog #vehicleDialogFilterSection,
#chaufferDialog #vehicleDialogFilterSection,
#searchCustomerDialog #vehicleDialogFilterSection,
#customerDocumentsDialog #vehicleDialogFilterSection {
  padding-bottom: 4px;
}
.btn-custom {
  color: #ffffff;
  background-color: #6b6f59;
  border-color: #6b6f59;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #ffffff;
  background-color: #6b6f59;
  border-color: #6b6f59;
}
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #6b6f59;
  border-color: #6b6f59;
}
.btn-billing {
  color: #ffffff;
  background-color: #ffa3a3;
  border-color: #ffa3a3;
}
.btn-billing:hover,
.btn-billing:focus,
.btn-billing:active,
.btn-billing.active,
.open .dropdown-toggle.btn-billing {
  color: #ffffff;
  background-color: #ffa3a3;
  border-color: #ffa3a3;
}
.btn-billing:active,
.btn-billing.active,
.open .dropdown-toggle.btn-billing {
  background-image: none;
}
.btn-billing.disabled,
.btn-billing[disabled],
fieldset[disabled] .btn-billing,
.btn-billing.disabled:hover,
.btn-billing[disabled]:hover,
fieldset[disabled] .btn-billing:hover,
.btn-billing.disabled:focus,
.btn-billing[disabled]:focus,
fieldset[disabled] .btn-billing:focus,
.btn-billing.disabled:active,
.btn-billing[disabled]:active,
fieldset[disabled] .btn-billing:active,
.btn-billing.disabled.active,
.btn-billing[disabled].active,
fieldset[disabled] .btn-billing.active {
  background-color: #ffa3a3;
  border-color: #ffa3a3;
}
.validationSummaryContainer .validationSummaryLink {
  margin-left: 15px;
}
.validationSummaryContainer ul {
  padding-left: 20px;
}
.validationSummaryContainer a {
  color: red;
}
