#vehicleConditionDialog .carCondition {
  cursor: pointer;
  background: transparent url(Images/CarConditionNarrow.JPG) no-repeat center center;
  width: 375px;
  padding-left: 2px;
  height: 529px;
}
