
.grid-content-table {
    border: 1px solid black;
    width: 100%;
}

    .grid-content-table td {
        height: 10px;
        padding: 3px;
        border: #4e95f4 1px solid;
    }

    /* provide some minimal visual accomodation for IE8 and below */
    .grid-content-table tr {
        background: #b8d1f3;
        height: 10px;
        font-size: 0.9em;
    }

    .grid-content-table th {
        background: yellow;
        height: 10px;
        font-size: 0.9em;
    }
    /*  Define the background color for all the ODD background rows  */
    .grid-content-table tr:nth-child(odd) {
        background: #b8d1f3;
    }
    /*  Define the background color for all the EVEN background rows  */
    .grid-content-table tr:nth-child(even) {
        background: #dae5f4;
    }
    .grid-content-table td {
        width: 15%;
    }
    .grid-content-table tr:hover {
        background-color: lightyellow;
        cursor: pointer;
    }

#footer tr {
    background-color: antiquewhite;
    cursor: default;
}

#search-area {
    border-style: solid;
    border-width: 1px;
    margin-top: 20px;
}
#search-area div {
      margin-top: 10px;
    margin-left: 10px;
}


#grid-area {
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
}

    #grid-area p {
        margin-left: 10px;
        margin-top: 15px;
    }

#gridContent {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

#pager-table {
    width: 100%;
}

div#spinner
{
    display: none;
    width:95px;
    height: 95px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url('spinner.gif') no-repeat center transparent;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    /*border:1px solid #666;*/
    margin-left: -50px;
    margin-top: -50px;
    z-index:10051;
    overflow: auto;
}

.dropdown {
    height: 28px;
}

.editdelete {
    text-align: right;
}

#productEditor {
    margin-top: 20px;
}

/* Common */

.searchFilterSection {
    margin-top: 10px;
}
.hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.searchFilterResultSection {
    margin-top: 10px;
}

.searchFilterResultSection table tr th {
    color: gray;
}

.selectedRow {
    background: silver;
}
.well {
    margin-bottom: 0;
    padding: 12px;
    background-color: #f3fefc ;
    border: solid 1px #e0dede;
}
.form-group {
    margin-bottom: 8px;
}
.icon-up {
    background-image: url('../images/arrow-up-small.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    display: inline-block;
    
}

.icon-down {
    background-image: url('../images/arrow-down-small.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.searchCount {
    color: lightgray;
}

.errorFill 
{
	border: 1px solid red !important;
	background-color: #fdd !important;
}

/* For Elements That use ValidationTooltip + Css: { 'errorFill': someValue } , css should be css: { 'errorFillWithValidation': someValue }  */
.errorFillWithValidation 
{
	border: 1px solid red !important;
	background-color: #fdd !important;
}

.loading
{
    background-color: #ddd;
    padding: 4px 10px 4px 10px;
    margin-bottom: 9px;
    min-height: 26px;
    background-position: center center;
    background-repeat:no-repeat;
    background-image: url('/Content/Images/spinner.gif');
}

.tooltip.in {
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
}

.tooltip.top .tooltip-arrow 
	{
		border-top-color: maroon;
		border-width: 5px 5px 0;
		bottom: 0;
		left: 50%;
		margin-left: -5px;
	}

.tooltip-inner {
    background-color: red;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: white;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    border: 1px solid maroon;
	z-index:1;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error, input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}
     
.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}
.validation-summary-valid {
    display: none;
}

h2.sectionHeader {
    font-size: 100%;
	line-height: 2;
	background-color: rgb(80, 181, 255);
	color: white;
	padding: 0 0.5em 0 0.5em;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-top: -5px;
}

#link-action {
    color: whitesmoke;
    text-decoration: none;
}

.custom-link {
    float: left;
    margin-right: 6.7%;
}

/* Common */